<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Proclaim</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

 
  </head>

  <body class="bg-dark">
	<section class="p50">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-12 col_center">
					<div class="sign_card">
						<h3 class="sc_head">Forgot Username</h3>
						<div class="sign_card_body">
							<form method="post" id="forgotUsernameFrm">
								
								<div class="form-group row">
									<div class="col-md-12 col-md-12">
									  <label>Email</label>
									  <input type="text" class="form-control" id="email" name="email" placeholder="Enter email address">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-12 col-md-12 ajx_res">
										
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-12 col-md-12">
										<button type="submit" class="btn btn55 pull-right">Submit</button>
									</div>
								</div>
								<div id="alert_msg"></div>
								<div>
									<p>Already have an account: <a href="/">Login Here</a></p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>
    
  </body>

</html>
