<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Proclaim</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

 
  </head>

  <body>
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-12">
					<h3 class="logo">Proclaim</h3>
				</div>
				<div class="col-md-7 col-md-12">
					<ul class="header_menu">
						<li><a href="/logout"><span>Logout</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<section class="menu_section">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-md-12">
					<a href="/work-harassment" class="menu_box">
						Work harassment
					</a>
				</div>
				<div class="col-md-3 col-md-12">
					<a href="/damaging-historic-monuments" class="menu_box">
						Damaging historic monuments
					</a>
				</div>
				<div class="col-md-3 col-md-12">
					<a href="/inciting-violence-bullying" class="menu_box">
						Inciting violence/Bullying
					</a>
				</div>
				<div class="col-md-3 col-md-12">
					<a href="/social-media-propaganda" class="menu_box">
						Social media propaganda
					</a>
				</div>
				<div class="col-md-3 col-md-12">
					<a href="/stone-pelting" class="menu_box">
						Stone pelting
					</a>
				</div>
				<div class="col-md-3 col-md-12">
					<a href="/favoring-enemies" class="menu_box">
						Favoring enemies
					</a>
				</div>
				<div class="col-md-3 col-md-12">
					<a href="/other-offences" class="menu_box">
						Other offences
					</a>
				</div>
				<div class="col-md-3 col-md-12">
					<a href="/list-ticket" class="menu_box">
						List Ticket
					</a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="p50">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-12">
					<table class="table">
						<tr>
							<th>Date & Time</th>
							<th>Location</th>
							<th>Name of offenders</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
						<% print.forEach(function (rs) { %>
						<tr>
							<td><%= rs.datetime %></td>
							<td><%= rs.location %></td>
							<td><%= rs.name_offenders %></td>
							<td><% if(rs.ticket_status==1){ %>
									<p>Issued</p>
								<% }else if(rs.ticket_status==2){ %>
									<p>Progress</p>
								<% }else if(rs.ticket_status==3){ %>
									<p>Resolved</p>
								<% } %>
							</td>
							<td><a href="/view-ticket/<%= rs.ticket_id %>">View</a></td>
						</tr>
						<% }) %>
					</table>
				</div>
			</div>
		</div>
	</section>
	

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>
    
  </body>

</html>
