<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Proclaim</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

 
  </head>

  <body class="bg-dark">
	<section class="p50">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-12 col_center">
					<div class="sign_card">
						<h3 class="sc_head">Login</h3>
						<div class="sign_card_body">
							<form method="post" id="loginFrm">
								
								<div class="form-group row">
									<div class="col-md-12 col-md-12">
									  <label>Username</label>
									  <input type="text" class="form-control" id="user_name" name="user_name">
									</div>
								
								</div>
								<div class="form-group row">
									<div class="col-md-12 col-md-12">
									  <label>Password*</label>
									  <input type="password" class="form-control" id="password" name="password">
									</div>
								
								</div>
								<div class="form-group row">
									<div class="col-md-12 col-md-12">
										<button type="submit" class="btn btn55 pull-right">Submit</button>
									</div>
								</div>
								<div id="alert_msg"></div>
								<div>
									<p>I don't have an account...<a href="/sign-up">Sign up here</a></p>
									<p>Forgot username <a href="/forgot-username">click here</a></p>
									<p>Forgot password <a href="/forgot-password">click here</a></p>
								</div>
								<div class="form-group row">
									<div class="col-md-12 col-md-12 text-center">
										<a href="/guest-user" class="btn btn55">Guest User</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>
    
  </body>

</html>
